.tag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    flex-wrap: wrap;
}

a{
    background-color: whitesmoke;
    padding: .2rem .4rem;
    margin: .2rem;
    border-radius: 25px;
    color: gray;
    font-weight: 600;
}
a:hover,a:active{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}